<h1>Bloques list</h1>

<p>
  {{link-to "New Bloque" "bloques.new" }}
</p>

{{#if controller.length}}
  {{list-filter list=content partial='bloques/list-item' properties='nombre tipocamara'}}
  {{page-numbers content=content totalPages=pages}}
{{else}}
  <p id="blankslate">
    No Bloques found
  </p>
{{/if}}
