<p>
  {{link-to "Bloque list" "bloques.index" }}
</p>

<h1>Bloque show</h1>

<p>
  <strong>Nombre:</strong>
  <span>{{nombre}}</span>
</p>
<p>
  <strong>Camara:</strong>
  <span>{{tipocamara}}</span>
</p>

