<li>
  {{listFilterObject.descripcion}} {{link-to "Edit" "cargos.edit" listFilterObject}} {{link-to "Show" "cargos.show" listFilterObject}} <a href="#" {{action "remove" listFilterObject}}>Remove</a>
</li>