@font-face {
  font-family: 'PT Sans';
  src:url('fonts/PT_Sans-Web-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:url('fonts/PT_Sans-Web-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src:url('fonts/PT_Sans-Web-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src:url('fonts/PT_Sans-Web-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans Caption';
  src:url('fonts/PT_Sans-Caption-Web-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Caption';
  src:url('fonts/PT_Sans-Caption-Web-Bold.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src:url('fonts/PT_Sans-Narrow-Web-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans Narrow';
  src:url('fonts/PT_Sans-Narrow-Web-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'PT Serif';
  src:url('fonts/PT_Serif-Web-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:url('fonts/PT_Serif-Web-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src:url('fonts/PT_Serif-Web-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src:url('fonts/PT_Serif-Web-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif Caption';
  src:url('fonts/PT_Serif-Caption-Web-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif Caption';
  src:url('fonts/PT_Serif-Caption-Web-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT Mono';
  src:url('fonts/PTM55FT.ttf');
  font-weight: normal;
  font-style: normal;
}


// Font Variables
$font-sans: 'PT Sans', sans-serif;
$font-sans-narrow: 'PT Sans Narrow', sans-serif;
$font-sans-caption: 'PT Sans Caption', sans-serif;
$font-serif: 'PT Serif', serif;
$font-serif-caption: 'PT Serif Caption', serif;
$font-mono: 'PT Mono', ;

@import "header-nav";

ol, ul {
	list-style: none;
}

// Styles
body {
  font-family: $font-sans;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-sans-narrow;
  font-weight: normal;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 22px;
}

p,
ul,
ol {
    font-size: 16px;
    line-height: 1.4em;
}

.content a {
	font-family: $font-sans-caption;
	font-size: 14px;
}

button {
  font-family: $font-sans-caption;
  font-weight: bold;
}

.login-form {

}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}
