<p>
  {{link-to "Menuitem list" "menu-items.index" }}
</p>

<h1>Menuitem show</h1>

<p>
  <strong>Nombre:</strong>
  <span>{{nombre}}</span>
</p>

<p>
  <strong>Icono:</strong>
  <span>{{icono}}</span>
</p>

<p>
  <strong>Link:</strong>
  <span>{{link}}</span>
</p>

