<ul>
	<li>{{#link-to 'index'}}Inicio{{/link-to}}</li>
	<li>{{#link-to 'about'}}About{{/link-to}}</li>
	{{#if session.isAuthenticated}}
	  <li>{{#link-to 'bloques'}}Bloques{{/link-to}}</li>
	  <li><a {{ action 'invalidateSession' }}>Logout</a></li>
	{{else}}
	  <li>{{#link-to 'login'}}Login{{/link-to}}</li>
	{{/if}}
</ul>

<div class="container">
	{{outlet}}
</div>