<h3>Suggest</h3>
{{input-suggest model='proyecto' store=store threshold=3 maxResults=5 typeAction='addItem' canEdit=true placeholder='Buscar proyectos'}}

<h3>MultiSelect</h3>
{{multi-select modelName='proyecto' store=store threshold=3 maxResults=5 placeholder='proyectos' showArrows=true}}
